
@{
    ViewBag.Title = "发票管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap">
    <div class="panel">
        <div class="panel-title">
            <div class="layui-form">
                <div class="layui-form-item ">
                    <label class="layui-form-label">开票状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="全部" checked>
                        <input type="radio" name="status" value="2" title="待开发票">
                        <input type="radio" name="status" value="3" title="已开发票">
                        <input type="radio" name="status" value="3" title="拒绝开票">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">提交时间</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input time-item">
                    </div>
                    <span>至</span>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input time-item">
                    </div>
                    <button class="layui-btn layui-btn-warm">查询</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="table" lay-filter="table"></table>
        </div>
    </div>
</div>

<script type="text/html" id="tableTool">
    <a href='@Url.Action("Detail","Invoice",new { area="Finance",parentId=4 })' class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>
<script>
    layui.use(['table', 'laydate'], function () {
        var table = layui.table;
        var laydate = layui.laydate;
        lay('.time-item').each(function () {
            laydate.render({
                elem: this
                , trigger: 'click'
            });
        });
        table.render({
            elem: '#table'
            , data: [{
                number: '2018021345712',
                title: '锦屏XX农业有限公司',
                orderNumber: '4403211988124578154',
                amount: '￥1900',
                type: '专用',
                time: '2017-02-18 15:00:00',
                status: '待开发票',
            }
            ]
            , cols: [[
                { type: 'checkbox', fixed: 'left' },
                { field: 'number', title: '申请编号', sort: true },
                { field: 'title', title: '发票抬头', sort: true },
                { field: 'orderNumber', title: '订单号', sort: true },
                { field: 'amount', title: '发票金额', sort: true, style: 'color:#ff8903;' },
                { field: 'time', title: '订单完成时间', sort: true },
                { field: 'status', title: '订单状态', sort: true },
                { title: '操作', toolbar: '#tableTool' }
            ]]
            , page: true
        });
    });
</script> 