body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1169px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:987px;
  height:600px;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:121px;
  width:987px;
  height:600px;
}
#u1512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:54px;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:593px;
  width:83px;
  height:54px;
}
#u1513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:47px;
}
#u1514 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:598px;
  width:104px;
  height:47px;
}
#u1514_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
