<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="UrlExpireTime" value="100"/>
  <add key="RedisContext" value="127.0.0.1:6379"/>
  <add key="RedisPageSize" value="100"/>
  <add key="RedisAdmin" value="allowAdmin=true"/>
  <!--0：本地  1：线上 -->
  <add key="IsWWWOnLine" value="0" />

  <!--渠道中心客户端-->
  <add key="StaffId_1000" value="1000"/>
  <add key="StaffKey_1000" value="96C909BD-E6B8-4CFF-987C-2B914BF9C5C5"/>

  <!--学院中心客户端-->
  <add key="StaffId_1001" value="1001"/>
  <add key="StaffKey_1001" value="96C909BD-E6B8-4CFF-987C-2B914BF9C5C2"/>

  <!--招生机构客户端-->
  <add key="StaffId_1004" value="1004"/>
  <add key="StaffKey_1004" value="C1273653-1D3F-4780-8E28-C63706997FE6"/>
</appSettings>