<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="UrlExpireTime" value="100"/>
  <add key="RedisContext" value="127.0.0.1:6379"/>
  <add key="RedisPageSize" value="100"/>
  <add key="RedisAdmin" value="allowAdmin=true"/>
  <!--0：本地  1：线上 -->
  <add key="IsWWWOnLine" value="0" />


  <!--PC 景区管理后台客户端-->
  <add key="StaffId_1000" value="1000"/>
  <add key="StaffKey_1000" value="96C909BD-E6B8-4CFF-987C-2B914BF9C5C5"/>

  <!--PC 供应商管理后台客户端-->
  <add key="StaffId_1001" value="1001"/>
  <add key="StaffKey_1001" value="96C909BD-E6B8-4CFF-987C-2B914BF9C5C2"/>

  <!--Quartz 客户端-->
  <add key="StaffId_1002" value="1002"/>
  <add key="StaffKey_1002" value="8750AFF5-2621-47DA-B04A-B9D596B8ACC7"/>
  <!--B2C 客户端-->
  <add key="StaffId_1003" value="1003"/>
  <add key="StaffKey_1003" value="3FAC6E21-908F-4CD9-9E6A-4D6804669817"/>
  <!--游客服务中心 客户端-->
  <add key="StaffId_1004" value="1004"/>
  <add key="StaffKey_1004" value="C1273653-1D3F-4780-8E28-C63706997FE6"/>
  <!--H5 客户端-->
  <add key="StaffId_1005" value="1005"/>
  <add key="StaffKey_1005" value="28918ED4-B0B1-4E84-A113-6885B227D412"/>
  <!--手持终端 客户端-->
  <add key="StaffId_1006" value="1006"/>
  <add key="StaffKey_1006" value="BA24936A-8317-4F06-9BD5-BA5D18CC1EDA"/>
  <!--秒嘀云-->
  <add key ="MD_AccountSID" value="80baeec492954e95b0a3f80e5dc26cc7"/>
  <add key ="MD_AUTHTOKEN" value="3d8647941cfc4540bf08c61a2d68693f"/>
  <add key="MD_RestUrl" value="https://api.miaodiyun.com/20150822/industrySMS/sendSMS"/>
  <add key="MD_Sign" value="【智联智行】"/>
  <!--支付domain(游客服务中心)-->
  <add key="PayDoMain" value="http://wisdom.91yeetu.com/"/>
</appSettings>