<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="EnrolmentPlatformDbContextWrite"
		connectionString="
       Server=120.79.151.228;
       Initial Catalog=EnrolmentPlatform;
       User ID=sa;
       Password=zhang@2018;
       Connect Timeout=18000;
       Max Pool Size=2000"
		providerName="System.Data.SqlClient" />

</connectionStrings>