<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="EnrolmentPlatformDbContextWrite"
			connectionString="
       Server=DESKTOP-P9MRFFF;
       Initial Catalog=EnrolmentPlatform;
       User ID=sa;
       Password=chaichang;
       Connect Timeout=18000;
       Max Pool Size=2000"
			providerName="System.Data.SqlClient" />

</connectionStrings>