<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="EnrolmentPlatformDbContextWrite"
		connectionString="
	     Server=.;
       Initial Catalog=EnrolmentPlatform;
       User ID=sa;
       Password=12345678;
       Connect Timeout=18000;
       Max Pool Size=2000"
		providerName="System.Data.SqlClient" />

</connectionStrings>