body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:933px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:252px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:295px;
  width:516px;
  height:252px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:44px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:412px;
  width:77px;
  height:44px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:410px;
  width:100px;
  height:46px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
