body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1169px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:601px;
}
#u1519 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:121px;
  width:988px;
  height:601px;
}
#u1519_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:594px;
  width:113px;
  height:50px;
}
#u1520_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
