<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net452" />
  <package id="AutoMapper" version="2.2.0" targetFramework="net452" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net452" />
  <package id="IKVM.OpenJDK.Charsets" version="7.2.4630.5" targetFramework="net452" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net452" />
  <package id="IKVM.OpenJDK.Security" version="7.2.4630.5" targetFramework="net452" />
  <package id="IKVM.OpenJDK.SwingAWT" version="7.2.4630.5" targetFramework="net452" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net452" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net452" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net452" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net452" />
  <package id="log4net" version="2.0.10" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="NPOI" version="2.4.0" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.2.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="ThoughtWorks.QRCode" version="1.1.0" targetFramework="net452" />
</packages>