body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:915px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:250px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:256px;
  width:514px;
  height:250px;
}
#u331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:373px;
  width:70px;
  height:45px;
}
#u332_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:45px;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:373px;
  width:102px;
  height:45px;
}
#u333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
