@model Guid
<table class="layui-hide" id="Tb_LogSettingForTable"></table>
<script>
layui.use('table', function(){
  var table = layui.table;

  table.render({
      elem: '#Tb_LogSettingForTable'
     ,url:'@Url.Action("LogSettingForTable","Home",new { area=""})'
    ,cellMinWidth: 180 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
    ,cols: [[
        { field: 'BusinessName', width: 500, title: '日志内容'}
      ,{field:'CreatorTime', width:200, title: '操作时间'}
        , { field: 'CreatorAccount', width: 180, title: '操作人'}
    ]],
    where: { Key: "@(Model)"}
  });
});
</script>