body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1374px;
  height:624px;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:38px;
  width:1374px;
  height:624px;
}
#u1462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1374px;
  height:266px;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:648px;
  width:1374px;
  height:266px;
}
#u1463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:57px;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:951px;
  width:127px;
  height:57px;
}
#u1464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:42px;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:336px;
  width:75px;
  height:42px;
}
#u1465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:42px;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:336px;
  width:75px;
  height:42px;
}
#u1466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:42px;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:336px;
  width:75px;
  height:42px;
}
#u1467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:42px;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:594px;
  width:75px;
  height:42px;
}
#u1468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:42px;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:594px;
  width:75px;
  height:42px;
}
#u1469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:42px;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:594px;
  width:75px;
  height:42px;
}
#u1470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:42px;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:851px;
  width:75px;
  height:42px;
}
#u1471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:42px;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:851px;
  width:75px;
  height:42px;
}
#u1472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:42px;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:851px;
  width:75px;
  height:42px;
}
#u1473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
