
/*开发使用*/

/*过滤查询条件*/
.filter-list > .layui-btn {
  margin: 5px 10px 5px 0;
}
.filter-list > .layui-btn.actived {
  background-color: #1E9FFF;
}
.filter-list > .layui-btn.actived:hover {
  opacity: .8;
  filter: alpha(opacity=80);
  color: #fff;
}
.layui-btn-gray {
    background-color: #c2c2c2;
}