.border-bottom-none {
  border-bottom: none !important; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.layui-layer .layui-form .layui-input-inline.flex .pro-color {
  line-height: 38px; }

.cw-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.panel .panel-body .panel-body_left {
  position: relative;
  height: 90px;
  width: 100px;
  padding: 10px; }
  .panel .panel-body .panel-body_left::before {
    font-family: "iconfont" !important;
    font-size: 80px;
    font-style: normal;
    top: 50%;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0.2;
    content: "\e6ff"; }

.panel .panel-body .panel-body_right p:nth-child(2) {
  font-size: 28px;
  color: #ff8903; }

.panel .panel-body .panel-body_right p:nth-child(3) {
  margin-top: 5px; }

.panel .panel-body .panel-body_right p:nth-child(4) {
  font-size: 16px;
  color: red; }

.panel .panel-body .layui-inline .span-inline {
  display: inline-block;
  line-height: 38px; }

.panel .panel-body .cw-table-title {
  border: 1px solid #e5e5e5;
  line-height: 38px;
  text-align: center;
  font-size: 18px;
  border-bottom: none; }
  .panel .panel-body .cw-table-title span:nth-child(2) {
    font-size: 14px;
    float: right;
    color: #999; }

.panel .panel-body #infoTable .layui-table-view {
  margin-top: 0px; }

.detail-style .panel-body .allamount {
  line-height: 40px;
  text-align: right;
  border: 1px solid #e5e5e5;
  border-top: none; }

.detail-style .panel-body .layui-form.layui-table-view {
  margin: 0px; }

.main-wrap .cw-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }
  .main-wrap .cw-panel .card {
    border-radius: 3px;
    padding: 20px;
    color: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 120px; }
  .main-wrap .cw-panel .card:nth-child(1) {
    background: #f57c6b; }
    .main-wrap .cw-panel .card:nth-child(1) p:last-child {
      font-size: 22px; }
  .main-wrap .cw-panel .card:nth-child(2) {
    background: #5eafda;
    margin: 0px 10px; }
    .main-wrap .cw-panel .card:nth-child(2) p:last-child {
      font-size: 22px; }
  .main-wrap .cw-panel .card:nth-child(3) {
    background: #fff;
    color: #999; }

.main-wrap .back-card {
  background-color: white;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 32%;
  margin: 0px 12px 15px 0px; }
  .main-wrap .back-card .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    height: 110px; }
    .main-wrap .back-card .card-body .card-body-icon {
      width: 70px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      padding-top: 20px;
      background-color: #6ab7ff;
      color: white;
      margin-right: 20px; }
      .main-wrap .back-card .card-body .card-body-icon i {
        font-size: 20px; }
        .main-wrap .back-card .card-body .card-body-icon i::before {
          content: "\e6ff"; }
    .main-wrap .back-card .card-body .card-body-text p:nth-child(2) {
      margin-top: 10px; }
    .main-wrap .back-card .card-body .card-body-text p:nth-child(2), .main-wrap .back-card .card-body .card-body-text p:nth-child(3) {
      color: #999; }
  .main-wrap .back-card .card-footer {
    height: 50px;
    border-top: 1px dashed #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 10px; }
  .main-wrap .back-card .add-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 160px; }
    .main-wrap .back-card .add-card a {
      text-decoration: underline; }
    .main-wrap .back-card .add-card i {
      font-size: 30px; }
    .main-wrap .back-card .add-card a, .main-wrap .back-card .add-card i {
      color: #3b74b9; }

.pass-style .layui-form-label {
  width: 110px; }

.pass-style .btn-style {
  margin-top: 5px; }

.addcard-style .layui-form-label {
  width: 110px; }

.addcard-style .layui-form-item .inp-width {
  width: 380px; }

.gys-index-style .panel-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .gys-index-style .panel-body .panel-body-item {
    width: 25%;
    margin-right: 20px; }
    .gys-index-style .panel-body .panel-body-item .item-title {
      height: 40px;
      line-height: 40px;
      background: #ffdeb9;
      color: #333;
      padding-left: 15px; }
    .gys-index-style .panel-body .panel-body-item .item-body {
      min-height: 115px;
      background: #fff8ef;
      color: #666;
      padding: 25px 5px 5px 20px; }
      .gys-index-style .panel-body .panel-body-item .item-body p span:nth-child(1) {
        width: 60px;
        text-align: right;
        display: inline-block; }

.refund-detail-style .img-panel .panel-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .refund-detail-style .img-panel .panel-body .img-item {
    width: 20%;
    margin-right: 20px; }
    .refund-detail-style .img-panel .panel-body .img-item img {
      width: 100%; }

.main-wrap .panel-body.lable-style .row .item {
  width: 100%; }
  .main-wrap .panel-body.lable-style .row .item .label {
    width: 120px; }

.main-wrap .panel-body.img-style .row:nth-child(1) .item {
  width: 100%; }

.main-wrap .panel-body.img-style .row:nth-child(1) .img-box {
  width: 10%;
  margin-right: 20px;
  height: 130px; }
  .main-wrap .panel-body.img-style .row:nth-child(1) .img-box img {
    width: 100%; }

.main-wrap .panel .panel-body.price-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-wrap .panel .panel-body.price-style .panel-body-left {
    width: 77%;
    margin-right: 2%; }
    .main-wrap .panel .panel-body.price-style .panel-body-left .date-title {
      text-align: center; }
      .main-wrap .panel .panel-body.price-style .panel-body-left .date-title i, .main-wrap .panel .panel-body.price-style .panel-body-left .date-title span {
        font-size: 20px; }
      .main-wrap .panel .panel-body.price-style .panel-body-left .date-title i {
        font-weight: bold; }
      .main-wrap .panel .panel-body.price-style .panel-body-left .date-title span {
        margin: 0px 20px; }
    .main-wrap .panel .panel-body.price-style .panel-body-left .date-body .layui-table th {
      text-align: center; }
    .main-wrap .panel .panel-body.price-style .panel-body-left .date-body .layui-table td {
      width: 12%;
      height: 50px;
      text-align: right; }
  .main-wrap .panel .panel-body.price-style .panel-body-right {
    width: 20%; }

.main-wrap .layui-form.add-style .layui-form-item .layui-form-label {
  width: 120px; }

.main-wrap .add-data-style.layui-form .layui-form-item .img-item {
  height: 150px; }
  .main-wrap .add-data-style.layui-form .layui-form-item .img-item .img-name {
    position: absolute;
    bottom: 2px;
    width: 110px; }

.add-price-style.main-wrap .panel .panel-body.price-style .panel-body-right .layui-form-item .layui-form-label {
  width: 60px;
  padding: 9px 10px; }

.main-wrap.play-add-style .layui-form .layui-form-item .layui-form-label {
  width: 90px; }

.main-wrap.play-add-style .layui-form .layui-form-item .img-item {
  height: 150px; }
  .main-wrap.play-add-style .layui-form .layui-form-item .img-item .img-name {
    position: absolute;
    bottom: 2px;
    width: 110px; }

.main-wrap.play-add-style .layui-form .layui-form-item .map-box {
  width: 400px;
  height: 200px;
  border: 1px solid #e5e5e5;
  margin-left: 120px; }

.main-wrap.play-style .panel .layui-form .layui-form-item .layui-form-label {
  width: 90px; }

.main-wrap.play-style .panel .panel-body .item {
  width: 50%; }
  .main-wrap.play-style .panel .panel-body .item .map {
    width: 400px;
    height: 200px;
    border: 1px solid #e5e5e5; }

.main-wrap.play-style .panel .panel-body .item.width-100 .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-wrap.play-style .panel .panel-body .item.width-100 .text .img-box {
    width: 15%;
    margin-right: 20px; }
    .main-wrap.play-style .panel .panel-body .item.width-100 .text .img-box img {
      width: 100%; }

.panel-title.mode span {
  margin-left: 15px; }
  .panel-title.mode span i {
    font-size: 20px;
    margin-right: 10px; }

.info-box.img-mode-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-bottom: none; }
  .info-box.img-mode-style .img-box {
    width: 15%;
    margin-right: 20px; }
    .info-box.img-mode-style .img-box img {
      width: 100%; }
  .info-box.img-mode-style .text-box h3 {
    margin: 10px 0px;
    color: #666; }
  .info-box.img-mode-style .text-box .btn-box {
    margin-bottom: 10px; }
  .info-box.img-mode-style .text-box p {
    line-height: 30px;
    color: #666; }

.list-box .layui-table-view {
  margin-top: 0px;
  margin-bottom: 15px; }

.layui-table-view .layui-table-box td .laytable-cell-1-9 {
  width: 150px; }

.layui-layer-imgsee .layui-layer-imgbar {
  display: block !important; }
  .layui-layer-imgsee .layui-layer-imgbar .layui-layer-imgtit a {
    max-width: 92%; }

.layui-layer-photos .layui-layer-content {
  padding-bottom: 34px; }
