@{
    ViewBag.Title = "基础信息";
    Layout = "~/Views/Shared/_Layout.cshtml";

    EnrolmentPlatform.Project.DTO.Accounts.SupplierEnterpriseGetDto dto = ViewBag.EntityData;
}

<div class="main-wrap">
    <div class="panel">
        <div class="panel-title">
            基础信息
        </div>
        <div class="panel-body">
            <div class="info-cell no-padding">
                <div class="row">
                    <div class="item">
                        <span class="label">学习中心</span>
                        <span class="text">@dto.EnterpriseName</span>
                    </div>
                </div>
                <div class="row">
                    <div class="item">
                        <span class="label">联系人</span>
                        <span class="text">@dto.Contact</span>
                    </div>
                </div>
                <div class="row">
                    <div class="item">
                        <span class="label">手机号</span>
                        <span class="text">@dto.Phone</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-title">
            账号信息
        </div>
        <div class="panel-body">
            <div class="info-cell no-padding">
                <div class="row">
                    <div class="item">
                        <span class="label">登录账号</span>
                        <span class="text">@dto.UserAccount</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery', 'table', 'layer'], function () {
        var $ = layui.$;
        var layer = layui.layer;
        var pics = $('#layer-photos .item-pic')
        var data = []
        pics.each(function (index, item) {
            var src = $(item).find('img').attr('src')
            var text = $(item).find('p').text()
            var item = {
                alt: text,
                src: src,
                pid: 'pic' + index
            }
            data.push(item)
        })
        var photos = {
            title: "资质信息", //相册标题
            start: 0, //初始显示的图片序号，默认0
            data: data
        }
        pics.click(function () {
            photos.start = $(this).index()
            layer.photos({
                photos: photos,
                anim: 0 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
            });
        })

    })
</script> 