@{
    ViewBag.Title = "密码修改";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap">
    <div class="panel">
        <div class="panel-title">
            修改密码
        </div>
        <div class="panel-body">
            <div class="layui-form">
                <div class="layui-form-item required">
                    <label class="layui-form-label">原密码</label>
                    <div class="layui-input-inline">
                        <input type="password" id="txtOldPwd" class="layui-input" lay-verify="required|password" maxlength="16">
                    </div>
                </div>
                <div class="layui-form-item required">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                        <input type="password" id="txtNewPwd" class="layui-input" lay-verify="required|password" maxlength="16">
                    </div>
                </div>
                <div class="layui-form-item required">
                    <label class="layui-form-label">重复新密码</label>
                    <div class="layui-input-inline">
                        <input type="password" id="txtNewPwd2" class="layui-input" lay-verify="required|password|password2" maxlength="16">
                    </div>
                </div>
                @*<div class="layui-form-item ">
                    <label class="layui-form-label">账户手机号</label>
                    <div class="layui-form-mid layui-word-aux">@ViewBag.Phone</div>
                </div>
                <div class="layui-form-item required">
                    <label class="layui-form-label">验证码</label>
                    <div class="layui-input-inline">
                        <input type="text" id="txtCode" class="layui-input" style="display:inline-block;width:78px;" maxlength="10">
                        <button id="btnSendCode" type="button" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="m">获取验证码</button>
                    </div>
                </div>*@
                <div class="layui-form-item ">
                    <label class="layui-form-label"></label>
                    <button class="layui-btn" lay-submit="" lay-filter="s">确认修改</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //验证码计时器
    var timer = null;
    function verifyCodeTimer() {
        var sconed = parseInt($("#btnSendCode").attr("tip"));
        if (sconed == 1) {
            $("#btnSendCode").text("获取验证码").removeClass("layui-disabled").attr("tip", "0").removeAttr("disabled");
            window.clearInterval(timer);
        }
        else {
            sconed = sconed - 1;
            $("#btnSendCode").text(sconed + "秒重发").attr("tip", sconed);
        }
    }

    //操作处理
    layui.use(['form', 'jquery'], function () {
        var form = layui.form, layer = layui.layer;

        //自定义验证
        form.verify({
            password: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (value.length < 6) {
                    return '密码最少6位。';
                }
                if (/^[a-zA-Z0-9_]+$/.test(value) == false) {
                    return '密码只能为数字字母和下划线。';
                }
                if (/^\d+$/.test(value)) {
                    return '密码不能全为数字。';
                }
            },
            password2: function (value, item) {
                if ($("#txtNewPwd").val() != $("#txtNewPwd2").val()) {
                    return '确认密码和密码不一致。';
                }
            }
        });

        //发送验证码
        form.on('submit(m)', function (data) {
            var sendBtn = data.elem;
            $(sendBtn).text("60秒重发").addClass("layui-disabled").attr("tip", "60").prop("disabled", true);
            timer = window.setInterval("verifyCodeTimer();", 999); 

            var ret;
            $.ajax({
                type: "POST",
                contentType: "application/json;utf-8",
                dataType: "json",
                async: false,
                data: null,
                url: '@Url.Action("SendVeriyCode", "AccountManage")',
                success: function (result) {
                }
            });
            return false;
        });

        //提交
        form.on('submit(s)', function (data) {
            //if ($("#txtCode").val() == "") {
            //    layer.open({
            //        title: '警告'
            //        , content: '请输入验证码。'
            //    });
            //    return false;
            //}

            //修改密码
            var object = {};
            object.oldPwd = $("#txtOldPwd").val();
            object.newPwd = $("#txtNewPwd").val();
            //object.code = $("#txtCode").val();
            $.ajax({
                type: "POST",
                contentType: "application/json;utf-8",
                dataType: "json",
                async: false,
                data: JSON.stringify(object),
                url: '@Url.Action("ModifyForPwdOp", "AccountManage")',
                success: function (result) {
                    if (result == 1) {
                        layer.msg('修改成功。', {
                            icon: 1,
                            time: 2000
                        }, function () {
                            window.location.href = '@Url.Action("LoginOut", "Home",new { area=""})';
                        });
                    }
                    else if (result == 2) {
                        layer.msg('验证码错误。', {
                            icon: 2,
                            time: 2000
                        });
                    }
                    else if (result == 3) {
                        layer.msg('原始密码错误。', {
                            icon: 2,
                            time: 2000
                        });
                    }
                }
            });
            return true;
        });
    });
</script>