@model ArticleDto
@{
    ViewBag.Title = "内容详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap">
    <div class="article-warp">
        <div class="article-box">
            <div class="article-title">
                @Model.Title
                <small>@Model.CreatorTime.ToDateString() @Model.ClassifyName</small>
                <hr>
            </div>
            <div class="article-content">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</div>