@model FoodEditDto
@{
    ViewBag.Title = "菜名详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap">
    <div class="panel">
        <div class="panel-body">
            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">菜名</label>
                    <div class="layui-input-inline">
                        <span class="text">@Model.FoodName</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">价格</label>
                    <div class="layui-input-inline">
                        <span class="text">￥@Model.Price.ToString("0.##")</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">描述</label>
                    <div class="layui-input-inline">
                        <span class="text">@Model.Description</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">图片</label>
                    <div class="layui-input-block">
                        <div class="upload-img-box">
                            @if (Model.FoodImgList != null && Model.FoodImgList.Any())
                            {
                                foreach (var item in Model.FoodImgList)
                                {
                                    <div class="img-item">
                                        @if (item.Iscover)
                                        {
                                            <div class="cover show">
                                                <span>主图</span>
                                            </div>
                                        }
                                        <img src="@item.FilePath" alt="">
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>