
@{
    ViewBag.Title = "票务添加";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var TypeForTicket = ViewBag.TypeForTicket as List<KeyValuePair<int, string>>;
    var ProductStatus = ViewBag.ProductStatus as List<KeyValuePair<int, string>>;
    var ProductCate = ViewBag.ProductCate as List<ProductCategoriesDto>;
    var TikcetParamTheme = ViewBag.TikcetParamTheme as List<ProductCategoriesDto>;
    var RefundRule = ViewBag.RefundRule as List<KeyValuePair<int, string>>;
    var RefundPrice = ViewBag.RefundPrice as List<KeyValuePair<int, string>>;
}
@model OptionParamForTicketForDataForBasicDto

<div class="main-wrap">
    <div class="panel">
        <div class="panel-title">
            基础信息
        </div>
        <div class="panel-body">
            <div class="layui-form add-style">
                <input type="hidden" id="TicketId" value="@Model.Id" />
                @Html.Partial("~/Areas/Product/Views/Ticket/_editForBasic.cshtml", Model)
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="saveBasicNext">下一步</button>
                        <button class="layui-btn layui-btn-primary" lay-submit="" lay-filter="saveBasicInfo">存草稿</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
