body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1401px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:52px;
}
#u1515 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:743px;
  width:1360px;
  height:52px;
}
#u1515_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:49px;
}
#u1516 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:745px;
  width:79px;
  height:49px;
}
#u1516_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
}
#u1517 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:526px;
  width:52px;
  height:28px;
}
#u1517_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:696px;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:38px;
  width:1049px;
  height:696px;
}
#u1518_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
