<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--供应商管理后台客户端-->
  <add key="StaffId" value="1001"/>
  <add key="1001" value="96C909BD-E6B8-4CFF-987C-2B914BF9C5C2"/>
  <!--Api地址-->
  <add key="TokenApi" value="http://localhost:9001/"/>
  <!--<add key="GetTokenApi" value="http://localhost:9011/"/>-->
  <!--Redis配置-->
  <add key="RedisContext" value="127.0.0.1:6379"/>
  <add key="RedisAdmin" value="allowAdmin=true"/>
  <add key="RedisPageSize" value="100"/>
  <!--图片文件服务器-->
  <add key="FileDoMain" value="http://localhost:9003"/>
  <add key="WWWOnline" value=""/>
  <!--上传图片Key-->
  <add key ="PostFileKey" value="CA97187E-62C2-412E-9867-74730660FDE9"/>
  <add key="FileFrom" value="2"/>
</appSettings>
