
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap jq-index-style">
    <div class="panel">
        <div class="panel-title">
            <span class="text-16">待办事项</span>
            <small class="gray-color">
                您有
                <span class="pro-color">0 </span>件工作待处理！
            </small>
        </div>
    </div>
</div> 
<script>    
</script>