
@{
    ViewBag.Title = "库存价格设置";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
} 
@model Guid
 
<div class="main-wrap add-price-style">
    <div class="panel">
        <div class="panel-title">库存价格设置</div>
        <div class="panel-body price-style">
            <div class="panel-body-left">
                <div class="date-title">
                    <i class="layui-icon left date-icon"></i>
                    <span class="data-month"></span>
                    <i class="layui-icon date-icon"></i>
                </div>
                <div class="date-body">
                    @Html.Partial("~/Views/Shared/_calendar.cshtml") 
                </div>
            </div>
            <div class="panel-body-right">
                @(Html.Partial("~/Areas/Product/Views/Ticket/_editForDate.cshtml", Model))
            </div>
        </div>
        <div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a href="@(Url.Action("OptionXiang", "Ticket", new { area = "Product", ticketId = Model }))" class="layui-btn">上一步</a>
                    <button class="layui-btn" id="onSale">发布</button>
                    <button class="layui-btn layui-btn-primary"  id="onDraft">存草稿</button>
                </div>
            </div>
        </div>
    </div>
</div> 
