
@{
    ViewBag.Title = "财务基础设置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<string>
<div class="main-wrap setting-style">
    <div class="panel">
        <div class="panel-body">
            <form class="layui-form" action="">
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">是否自动生成结算单</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="0" title="是" checked>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">提现金额范围</label>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input type="text" name="StartRange" id="txt_StartRange" lay-verify="StartRange" placeholder="￥" value="@(Model.Any()?Model[0]:"")" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid">至</div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input type="text" name="EndRange" id="txt_EndRange" placeholder="￥" lay-verify="EndRange" value="@(Model.Any()?Model[1]:"")" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid">元</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-warm" lay-submit="" lay-filter="submit">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var regex = /^\d{1,16}(\.\d{1,2})?$/;
    layui.use(['form'], function () {
        var form = layui.form
            , layer = layui.layer
        //自定义验证规则
        form.verify({
            StartRange: function (value) {
                if (value.length < 1) {
                    return '必填项不能为空';
                }
                else if (!regex.test(value)) {
                    return "金额格式不正确";
                }
            },
            EndRange: function (value) {
                if (value.length < 1) {
                    return '必填项不能为空';
                }
                else if (!regex.test(value)) {
                    return "金额格式不正确";
                }
                else if (parseFloat(value) <= parseFloat($("#txt_StartRange").val())) {
                    return "金额范围不正确";
                }
            }
        });

        //监听提交
        form.on('submit(submit)', function (data) {
            $.ajax({
                    url: "@Url.Action("SetWithdrawRange", "BasicSetting")",
                    type: "post",
                    data: JSON.stringify(data.field),
                    contentType: "application/json",
                    success: function (res) {
                        bool = res.IsSuccess;
                        if (res.IsSuccess) {
                            layer.msg("设置成功", {
                                icon: 1
                                , time: 2000
                            });
                         }
                        else {
                            layer.msg(res.Info, {
                                icon: 2
                                , time: 2000
                            });
                        }
                        _IsSubmit = false;
                    }
            });
            //layer.alert(JSON.stringify(data.field), {
            //    title: '最终的提交信息'
            //})
            return false;
        });


    });

</script>