body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:832px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:213px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:244px;
  width:366px;
  height:213px;
}
#u548_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:47px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:376px;
  width:73px;
  height:47px;
}
#u549_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:381px;
  width:73px;
  height:42px;
}
#u550_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
