body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2316px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2307px;
  height:816px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:10px;
  width:2307px;
  height:816px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:82px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:10px;
  width:195px;
  height:82px;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2297px;
  height:2px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:91px;
  width:2296px;
  height:1px;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:736px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:91px;
  width:1px;
  height:735px;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:109px;
  width:113px;
  height:180px;
}
#u690_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u692_img.selected {
}
#u692.selected {
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u691_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:80px;
  height:20px;
}
#u703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u703_img.selected {
}
#u703.selected {
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u702_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:39px;
  width:70px;
  height:25px;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:39px;
  width:70px;
  height:25px;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:104px;
  width:70px;
  height:25px;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:102px;
  width:101px;
  height:22px;
}
#u714_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u714_input:disabled {
  color:grayText;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:102px;
  width:192px;
  height:25px;
}
#u715_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:102px;
  width:63px;
  height:25px;
}
#u716_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:102px;
  width:75px;
  height:25px;
}
#u717_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:102px;
  width:75px;
  height:25px;
}
#u718_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1635px;
  height:548px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:159px;
  width:1635px;
  height:548px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:197px;
  width:120px;
  height:40px;
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:240px;
  width:90px;
  height:33px;
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:1283px;
  top:247px;
  width:57px;
  height:16px;
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:277px;
  width:89px;
  height:34px;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:317px;
  width:89px;
  height:34px;
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:356px;
  width:89px;
  height:34px;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:394px;
  width:89px;
  height:34px;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:433px;
  width:89px;
  height:34px;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:473px;
  width:89px;
  height:34px;
}
#u728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:511px;
  width:89px;
  height:34px;
}
#u729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:550px;
  width:89px;
  height:34px;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:590px;
  width:89px;
  height:34px;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:628px;
  width:89px;
  height:34px;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:275px;
  width:325px;
  height:390px;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:0px;
  width:82px;
  height:38px;
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:78px;
  word-wrap:break-word;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:81px;
  height:38px;
  color:#FF3300;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:0px;
  width:81px;
  height:38px;
  color:#FF9900;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:81px;
  height:39px;
}
#u738_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:38px;
  width:82px;
  height:39px;
  color:#009900;
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:38px;
  width:81px;
  height:39px;
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:38px;
  width:81px;
  height:39px;
  color:#FF9900;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:81px;
  height:38px;
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:77px;
  width:82px;
  height:38px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:78px;
  word-wrap:break-word;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:77px;
  width:81px;
  height:38px;
  color:#FF3300;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:77px;
  width:81px;
  height:38px;
  color:#FF9900;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:115px;
  width:81px;
  height:38px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:115px;
  width:82px;
  height:38px;
  color:#009900;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:78px;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:115px;
  width:81px;
  height:38px;
}
#u748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:115px;
  width:81px;
  height:38px;
  color:#FF9900;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:81px;
  height:40px;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:153px;
  width:82px;
  height:40px;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:153px;
  width:81px;
  height:40px;
  color:#FF3300;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:153px;
  width:81px;
  height:40px;
  color:#FF9900;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:193px;
  width:81px;
  height:40px;
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:193px;
  width:82px;
  height:40px;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:193px;
  width:81px;
  height:40px;
  color:#FF3300;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:193px;
  width:81px;
  height:40px;
  color:#FF9900;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:233px;
  width:81px;
  height:40px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:233px;
  width:82px;
  height:40px;
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:233px;
  width:81px;
  height:40px;
  color:#FF3300;
}
#u760_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:233px;
  width:81px;
  height:40px;
  color:#FF9900;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:273px;
  width:81px;
  height:39px;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:273px;
  width:82px;
  height:39px;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:273px;
  width:81px;
  height:39px;
  color:#FF3300;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:273px;
  width:81px;
  height:39px;
  color:#FF9900;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:312px;
  width:81px;
  height:39px;
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:312px;
  width:82px;
  height:39px;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:312px;
  width:81px;
  height:39px;
  color:#FF3300;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:312px;
  width:81px;
  height:39px;
  color:#FF9900;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:351px;
  width:81px;
  height:39px;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:351px;
  width:82px;
  height:39px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:351px;
  width:81px;
  height:39px;
  color:#FF3300;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:351px;
  width:81px;
  height:39px;
  color:#FF9900;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:33px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:240px;
  width:68px;
  height:33px;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:33px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:240px;
  width:68px;
  height:33px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:33px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:240px;
  width:68px;
  height:33px;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:249px;
  width:29px;
  height:16px;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:249px;
  width:29px;
  height:16px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:249px;
  width:43px;
  height:16px;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:49px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:206px;
  width:98px;
  height:49px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:249px;
  width:29px;
  height:16px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:283px;
  width:25px;
  height:24px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:322px;
  width:25px;
  height:24px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:1296px;
  top:362px;
  width:25px;
  height:24px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:1296px;
  top:401px;
  width:25px;
  height:24px;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:1296px;
  top:440px;
  width:25px;
  height:24px;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:1296px;
  top:479px;
  width:25px;
  height:24px;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:1296px;
  top:518px;
  width:25px;
  height:24px;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:1296px;
  top:557px;
  width:25px;
  height:24px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:596px;
  width:25px;
  height:24px;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:636px;
  width:25px;
  height:24px;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:102px;
  width:75px;
  height:25px;
}
#u792_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:556px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:158px;
  width:327px;
  height:556px;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:54px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:190px;
  width:34px;
  height:54px;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:206px;
  width:66px;
  height:24px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:205px;
  width:66px;
  height:24px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:209px;
  width:63px;
  height:16px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:209px;
  width:63px;
  height:16px;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:246px;
  width:49px;
  height:21px;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:1356px;
  top:247px;
  width:49px;
  height:21px;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:247px;
  width:49px;
  height:21px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:572px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:1584px;
  top:158px;
  width:706px;
  height:572px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:2221px;
  top:280px;
  width:47px;
  height:30px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:1620px;
  top:283px;
  width:25px;
  height:24px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
